<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>미니게시판</h2>
    <div class="panel panel-default">
        <div class="panel-heading">상세페이지</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>제목</td>
                    <td>[[${board.title}]]</td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        [(${#strings.replace(board.contents, nlString, '&lt;br /&gt;')})]</td>
                </tr>
                <tr>
                    <td>작성자</td>
                    <td>[[${board.name}]]

                    </td>
                </tr>
                <tr>
                    <td>작성일</td>
                    <td>[[${board.date}]]</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <a th:href="|/board/update/${board.idx}|" class="btn btn-primary btn-sm">수정화면</a>
                    <!--    <a th:href="|/board/delete/${board.idx}|" class="btn btn-warning btn-sm">삭제</a>-->
                        <a href="/board/list" class="btn btn-info btn-sm">목록</a>
                    </td>
                </tr>
            </table>

        </div>
        <div class="panel-footer">테스트</div>
    </div>
</div>

</body>
</html>






