<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<style>
</style>
<head>
    <meta charset="UTF-8">
    <title>글목록 페이지</title>
    <script type="text/javascript">
        function callDeleteConfirm(obj){
           location.href = "/board/detail/"+obj.dataset.idx; //보내는 url
        }
    </script>
</head>
<body>

<div class="container">
    <ul >
        <li th:each="tmp : ${list}"><span th:text="${tmp.idx}"></span><div>작성자 : [[${tmp.name}]] </div> 제목은 : <span> [[${tmp.title}]]</span><button th:data-idx="${tmp.idx}" onclick="callDeleteConfirm(this) ">상세 </button><button>수정</button></li>
    </ul>
</div>

</div>
</body>
</html>