<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>미니게시판</h2>
    <div class="panel panel-default">
        <div class="panel-heading">수정화면</div>
        <div class="panel-body">
            <form action="/board/update" method="POST">
                <input type="hidden" name="idx"  th:value="${board.idx}" />
                <table class="table table-bordered">
                    <tr>
                        <td>제목</td>
                        <td><input type="text" name="title" class="form-control" th:value="${board.title}"/></td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td><textarea rows="7" class="form-control" name="contents">[[${board.contents}]]</textarea> </td>
                    </tr>
                    <tr>
                        <td>작성자</td>
                        <td><input type="text" class="form-control" th:value="${board.name}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submit" class="btn btn-primary btn-sm">수정</button>
                            <button type="reset" class="btn btn-warning btn-sm">취소</button>
                            <button type="button" class="btn btn-info btn-sm" onclick="location.href='/board/list'">목록</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="panel-footer">테스트</div>
    </div>
</div>

</body>
</html>






