<!DOCTYPE html>
<html lang="en">
<style>

  .container {
    display: flex;
    flex-direction:column ;
    /* display: inline-flex; */
  }
</style>
<head>
    <meta charset="UTF-8">
    <title>글쓰기페이지</title>
</head>
<body>
<form name="writeForm" action="/board/write"  method="POST">
<div class="container">
작성자: <input type="text" name="name"><br>
타이틀: <input type="text" name="title"><br>
내용:   <textarea rows="7" name="contents" ></textarea>
<button type="submit">글쓰기</button>

</div>
</form>
</body>
</html>